$gradiantBlue: radial-gradient(circle, rgba(0,52,255,1) 0%, rgba(0,0,0,1) 100%);
$fontFamily: 'Merienda One', cursive;

@mixin glass {
    box-shadow: 0 0 2px 0 blue;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    // background: radial-gradient(circle, rgba(0, 51, 255, 0.644) 0%, rgb(0, 0, 0) 100%);
    border: 1px solid rgb(255, 255, 255);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include glass();
    width: 90vw;
    padding: 20px;
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        p{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70vw;
            height: 120px;
            background: $gradiantBlue;
            color: white;
            border-radius: 5px;
            font-size: 1.2em;
            font-weight: bold;
            border: solid 1px;
            font-family: $fontFamily;
        }
        .buttons{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 60vw;
            button{
                margin-top: 8px;
                width: 400px;
                height: 50px;
                background: $gradiantBlue;
                border-radius: 10px;
                border: solid 1px;
                color: white;
                font-weight: bold;
                font-family: $fontFamily;
            }
        }
    }
}

$gradiantBlue: radial-gradient(circle, rgba(0,52,255,1) 0%, rgba(0,0,0,1) 100%);
$fontFamily: 'Fredericka the Great', cursive;

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: none;
    .box{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 60vh;
        background: $gradiantBlue;
        h3{
            text-align: center;
        }
    }
}

.correct-anwer {
    background: radial-gradient(circle, green 0%, rgba(0,0,0,1) 100%) !important;
}

.wrong-anwer {
    background: radial-gradient(circle, red 0%, rgba(0,0,0,1) 100%) !important; 
}
