<div class="container">
    <div class="box" *ngFor="let quizQuestion of quiz">
        <p>{{quizQuestion.question}}</p>
        <div class="buttons">
            <button *ngFor="let answer of quizQuestion.incorrect_answers" (click)="trueOrFalse(quizQuestion, answer)"
                [ngClass]="{'correct-anwer':    quizQuestion.isAnswered && 
                                                quizQuestion.correct_answer == quizQuestion.selectedAnswer && 
                                                quizQuestion.selectedAnswer == answer,
                            'wrong-anwer':      quizQuestion.isAnswered && 
                                                quizQuestion.correct_answer != quizQuestion.selectedAnswer &&
                                                quizQuestion.selectedAnswer == answer}"
                [disabled]='quizQuestion.isAnswered'>{{answer}}</button>
        </div>
    </div>
    <button *ngIf="conf == true" (click)="unfinished()" type="button" class="btn btn-outline-dark" [routerLink]="['/result']" routerLinkActive="router-link-active" 
        [queryParams]="{count: trueCount}">Finish</button>
</div>
