$fontFamilyH1: 'Fredericka the Great', cursive;
$fontFamily: 'Merienda One', cursive;
$bgRgba: rgba(0, 0, 0, 0.849);
$borderRadius: 5px;
$gradiantRed: radial-gradient(circle, red 0%, rgba(0,0,0,1) 100%);
@mixin categoriesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: $bgRgba;
    border-radius: $borderRadius;
    padding: 10px;
}

@mixin ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 8.5rem;
    height: 5rem;
    margin: 3px;
    color: white;
    border: solid blue 1px;
    border-radius: $borderRadius;
    font-family: $fontFamily;
    &:hover{
        background: $gradiantRed;
    }
}

@mixin glass {
    box-shadow: 0 0 2px 0 blue;
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 40px;
    @include glass;
    h1{
        text-align: center;
        font-size: 3rem;
        font-family: $fontFamilyH1;
        color: white;
        text-shadow: 3px -3px 2px blue;
    }
    .category{
        @include categoriesBox;
        width: 87vw;
        height: auto;
        ul{
            @include ul;
            li{
                @include li;
            }
        }    
    }
    .difficulty{
        @include categoriesBox;
        width: 28rem;
        height: auto;
        ul{
            @include ul;
            li{
                @include li;
            }
        }
    }
}

.selected {
    background: $gradiantRed;
}

@media only screen and (max-width: 1000px) {
    .main{
        height: auto;
        .category{
            height: auto;
            ul{
                li{
                    width: 20rem;
                    height: 3rem;
                }
            }
        }
        .difficulty{
            ul{
                li{
                    width: 20rem;
                    height: 3rem;
                }
            }
        }
    }
  }