$gradiantBlue: radial-gradient(circle, rgba(0,52,255,1) 0%, rgba(0,0,0,1) 100%);
$fontFamily: 'Fredericka the Great', cursive;
$fontFamilyh3: 'Merienda One', cursive;

@mixin textStyle {
    text-shadow: 0 -2px 5px black;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    .resultBox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40rem;
        height: 25rem;
        padding: 50px;
        background: $gradiantBlue;
        border-radius: 10px;
        h2{
            text-align: center;
            font-family: $fontFamily;
            color: white;
            @include textStyle;
        }
        h3{
            text-align: center;
            font-family: $fontFamilyh3;
            color: green;
            @include textStyle;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container{
        .resultBox{
            width: 30rem;
            height: 25rem;
        }
    }
  }