$gradiantBlue: radial-gradient(circle, rgba(0,52,255,1) 0%, rgba(0,0,0,1) 100%);
$fontFamily: 'Fredericka the Great', cursive;

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .resultBox{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 40rem;
        height: 20rem;
        background: $gradiantBlue;
        border-radius: 10px;
        h2{
            text-align: center;
            font-family: $fontFamily;
            color: white;
        }
    }
}